@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXo.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #100f0e;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.backgroundTexture {
  background-size: cover;
  background: linear-gradient(black, white);
  height: 100%;
  flex: 1;
}

.box {
  width: 250px;
  aspect-ratio: 1;
  position: relative;
  background: repeating-radial-gradient(
      closest-corner at 1% 21%,
      rgba(255, 0, 255, 0.5),
      rgba(0, 255, 255, 0.5),
      #000 1.7%
    ),
    repeating-radial-gradient(
      closest-corner at 51% 51%,
      #fff,
      #fff,
      rgba(0, 255, 0, 1) 10%
    );
  background-size: 55px 10px;
}

.box::before {
  position: absolute;
  z-index: 1;
  inset: 0;
  background: repeating-radial-gradient(
      closest-corner at 21% 21%,
      #fff,
      rgba(0, 0, 255, 0.5),
      rgb(3, 0, 255) 20%
    ),
    repeating-radial-gradient(
      closest-corner at 61% 21%,
      #fff,
      rgba(0, 255, 0, 0.5),
      rgb(3, 0, 255) 20%
    ),
    repeating-radial-gradient(
      closest-corner at 91% 51%,
      #fff,
      rgba(255, 255, 1, 0.5),
      rgb(055, 255, 255) 20%
    );
  background-size: 15px 13px, 12px 22px, 12px 22px;
  background-blend-mode: exclusion, normal;
  mix-blend-mode: exclusion;
  content: "";
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
