.glow {
  position: relative;
  margin: auto;
  width: 10rem;
  top: -13rem;
  height: 10rem;
  border-radius: 70%;
  filter: blur(5000px);
  box-shadow: inset 0 0 50px #fff, 0 0 1000px #fff;
}

.title1 {
  position: relative;
  margin: auto;
  width: 25%;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 140px;

  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
.title2 {
  position: relative;
  margin: auto;
  width: 50%;
  font-family: "Cabin", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 140px;

  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.squiggle-1 {
  position: absolute;
  left: 50.54%;
  right: 0.45%;
  top: 0;
  bottom: 60.02%;

  background: #ffffff;
}

.squiggle-2 {
  position: absolute;
  left: 0.03%;
  right: 0.45%;
  top: 58.5%;
  bottom: 1.52%;

  background: #ffffff;
}

@media screen and (max-width: 480px) {
  .title1 {
    width: 400px;
    font-size: 50px;
  }
  .title2 {
    width: 400px;
    font-size: 50px;
  }
}

.arrow {
  position: relative;
  margin: auto;
  top: -10rem;
  left: 60rem;
  transform: rotate(10deg);
}

.buttonJoin {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  top: -10rem;
  width: 15rem;
  height: 4rem;
  border: 2px solid #ffffff;
  background: #ffffff;
  color: black;
  text-align: center;
  z-index: 2;
}

.buttonJoin:hover {
  background: gray;
  border: lightgray;
}

.buttonTimetable {
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 15rem;
  top: -10rem;
  height: 4rem;
  border: 1px solid white;
  background: transparent;
  color: white;
  z-index: 2;
}

.centre {
  margin: auto;
  width: 35%;
}
