.glow {
  position: relative;
  margin: auto;
  width: 10rem;
  top: -13rem;
  height: 10rem;
  border-radius: 70%;
  filter: blur(5000px);
  box-shadow:
    inset 0 0 50px #fff,
    0 0 1000px #fff;
}

.title1 {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 25rem;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.title2 {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 50rem;
  font-family: 'Cabin', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 140px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.squiggle-1 {
  position: absolute;
  left: 50.54%;
  right: 0.45%;
  top: 0;
  bottom: 60.02%;
  background: #ffffff;
}

.squiggle-2 {
  position: absolute;
  left: 0.03%;
  right: 0.45%;
  top: 58.5%;
  bottom: 1.52%;
  background: #ffffff;
}

@media screen and (max-width: 1000px) {
  .title1 {
    font-size: 50px;
  }
  .title2 {
    font-size: 50px;
  }
  .arrow {
    visibility: hidden;
  }
  .doublearrow {
    visibility: hidden;
  }
  .otherarrow {
    visibility: hidden;
  }
  .squiggle-1 {
    visibility: hidden;
  }
  .squiggle-2 {
    visibility: hidden;
  }
  .wave1 {
    visibility: hidden;
  }
  .wave2 {
    visibility: hidden;
  }
  .believeInMovement {
    visibility: hidden;
  }
}

.arrow {
  position: relative;
  left: 65vw;
  top: 10vh;
  overflow: clip;
}

.buttonJoin {
  position: relative;
  margin: auto 10px;
  width: 12rem;
  height: 4rem;
  border: 2px solid #ffffff;
  background: #ffffff;
  color: black;
  text-align: center;
  z-index: 2;
}

.buttonJoin:hover {
  background: #f1f1f1;
  border: #f1f1f1;
}

.buttonTimetable {
  position: relative;
  margin: auto 10px;
  width: 12rem;
  height: 4rem;
  border: 1px solid white;
  background: transparent;
  color: white;
  z-index: 2;
}

.homeButtons {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 300%);
  z-index: 3;
}

.child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeImage {
  position: relative;
  width: 100vw;
  top: 25rem;
  overflow: hidden;
}

.believeInMovement {
  position: relative;
  left: 80vw;
  top: 30vh;
  overflow: clip;
}

.otherarrow {
  position: absolute;
  left: 25vw;
  top: 66vh;
  overflow: hidden;
}

.doublearrow {
  position: relative;
  left: 20vw;
  top: 20vh;
  overflow: clip;
}

.wave1 {
  position: relative;
  left: 25vw;
  top: -20vh;
  overflow: clip;
}

.wave2 {
  position: relative;
  left: 18.4vw;
  top: -20vh;
  overflow: clip;
}

.textGetToKnowUs {
  position: relative;
  left: 50rem;
  top: -6rem;
  width: 100%;
  max-width: 30rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
}

.dots1 {
  position: relative;
  left: 8rem;
}
.dots2 {
  position: relative;
  left: 13rem;
}

.getToKnowUs {
  position: relative;
  left: 9rem;
  font-size: 2rem;
  z-index: 5;
}

.doubleArrowBold {
  position: relative;
  left: 6rem;
  top: -8rem;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.glow2 {
  position: relative;
  margin: auto;
  width: 3rem;
  top: -17rem;
  left: -34rem;
  height: 10rem;
  border-radius: 70%;
  filter: blur(5000px);
  box-shadow:
    inset 0 0 50px #fff,
    0 0 1000px #fff;
  z-index: 2;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
