.instagram {
  font-family: Arial, Helvetica, sans-serif;
  color: transparent;
  position: relative;
  opacity: 0.4;
  margin: auto;
  width: 100%;
  align-self: center;
  top: -5rem;
  font-size: 240px;
  -webkit-text-stroke: thick white;
  background-color: transparent;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.instagramArrow {
  position: relative;
  left: 60%;
  top: -26rem;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.buttonFollow {
  position: relative;
  margin: auto 10px;
  width: 12rem;
  height: 4rem;
  border: 1px solid white;
  background: white;
  color: black;
  z-index: 2;
  bottom: 29rem;
  left: 70%;
}

.instagram1 {
  position: relative;
  margin: auto;
  align-self: center;
  top: -24rem;
  background-color: transparent;
  overflow: hidden;
}
.instagram2 {
  position: relative;
  margin: auto;
  align-self: center;
  top: -25rem;
  background-color: transparent;
  overflow: hidden;
}

.instagram3 {
  position: relative;
  margin: auto;
  align-self: center;
  top: -25rem;
  background-color: transparent;
  overflow: hidden;
}

.promoImages:hover {
  opacity: 0.9;
}

.banner {
  position: relative;
  margin: auto;
  width: 100vw;
  overflow: hidden;
  top: -5rem;
}
